<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Register</title>
    <style>
        *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        body{
            background: linear-gradient(#141e30, #243b55);
        }  
        .row{
            background: rgba(0,0,0,.5);
            border-radius: 30px;
            box-shadow: 12px 12px 22px rgb(207, 199, 199);
        }
        img{
            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;
        }
        .btn1{
            
            border: none;
            outline: none;
            height: 50px;
            width: 100%;
            background-color: rgb(0, 0, 0);
            color: #ffffff;
            border-radius: 4px;
            font-weight: bold;
        }
        .btn1:hover{
            background: #03e9f4;
             color: #fff;
            border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
        }
        .form-control {
        font-size: 17px;
      }

        .form-control select {
  z-index: 2;
}

.form-control select option {
  z-index: 1;
}

.div-wrapper {
    height: 200px;
    margin-top: 350px;
    margin-bottom: 350px;
   
}

.div-to-align {
    width: 90%;
    padding: 40px 40px;
    color: antiquewhite;
}

.row a {
  margin-bottom: 30px;
  border-radius: 2px;
  background: linear-gradient(360deg, transparent, #566869);
  color: #fff;
  font-size: 20px;

}
    </style>

</head>
<body>


    
    <section class="Form my-4 mx-5">
        <div class="container">

            <% if(typeof errorMessage !== 'undefined' && errorMessage.length > 0) { %>
            <% if (errorMessage) { %>
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  <li style="color: red;"><%= errorMessage %></li>
                </div>
                <% } %>
              <% } %>
         
              <% if(typeof errorMessages !== 'undefined' && errorMessages.length > 0) { %>
              <% errorMessages.forEach(function(error) { %>
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <li style="color: red;"><%= error %></li>
                  </div>
                  <% }) %>
              <% } %>
            

            <div class="row no-gutters">
              
                
                <div class="col-100  offset-15 col-lg-10 offset-lg-3 div-wrapper d-flex justify-content-center align-items-center">

                <div class="div-to-align">
                    <h1 class="font-weight-bold py-3">Register Here</h1>
                    <form method="post" action="/registering">
                        
                        <div class="form-row">
                            <div class="col-lg-7">
                                <input type="text" name="firstname" placeholder="First name" class="form-control my-3 p-4">    
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-lg-7">
                                <input type="text" name="lastname" placeholder="Last name" class="form-control my-3 p-4">    
                            </div>
                        </div>


                            <div class="form-row">
                            <div class="col-lg-7">
                                <input type="email" name="email" placeholder="Email" class="form-control my-3 p-4">    
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-lg-7">
                                <input type="email" name="confirmEmail" placeholder="Confirm Email" class="form-control my-3 p-4">    
                            </div>
                        </div>
                        
                        <div class="form-row">
                            <div class="col-lg-7">
                                <input type="password" name="password" placeholder="Password" class="form-control my-3 p-4">  
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-lg-7">
                                <input type="password" name="confirmPassword" placeholder="Confirm Password" class="form-control my-3 p-4">  
                               
                            </div>
                        </div>
                         
                        <div class="form-row">
                            <div class="col-lg-7">
                              <select name="usertype" placeholder="Usertype"  class="form-control my-3 p-2" required>
                                <option value="user">User</option>
                                <option value="manager">Manager</option>
                                <option value="admin">Admin</option>
                              </select>
                            </div>
                          </div>

                        <div class="form-row">
                            <div class="col-lg-7">
                                <button type="submit" value="Register" class="btn1 mt-3 mb-5">SIGN UP</button> 
                            </div>
                        </div>

                        <a href="/loginpage">LOGIN</a>
                       
                    </form>
                </div>
            </div>
                </div>
            </div>
        </div>
    </section>



    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


    


</body>
</html>